<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{{> header3}}
<div class="grey-top">
    <nav>
        <ul >
                <li><a class="top-anchor" href="../clinicalNote/{{id}}">Clinical Note</a></li>   
                <li><a class="top-anchor active" href="../table/{{id}}">Display Data</a></li>
                <li><a class="top-anchor" href="../manage_patient/{{id}}">Modify data</a></li>
                <li><a class="top-anchor " href="../supportMSG/{{id}}">Support message</a></li>
        </ul>  
    </nav>  
</div> 



<h1>{{name}}'s Data</h1>
<h2>*Red numbers indicate that this data is over the limit, please take care. </h2>

<table class="datatable">
    <thead>
        <tr>
            <th>Date</th>
            <th>B.J level</th>
            <th>Weight</th>
            <th>Doses</th>
            <th>Exercise</th>
        </tr>
    </thead>

    <tbody>
    {{#each record}}
        <tr>
            <td> {{this.recordDate}}</td>

            {{#if (isunrecord this.data.glucose.status)}}
                <td>Unrecorded</td>
            {{else if (isalert this.data.glucose.status)}}
                <td class = "comment" id = 'alert'> 
                    {{this.data.glucose.data}}
                    {{#if this.data.glucose.comment}}
                        <details>
                            <summary>comment:</summary>
                            <p>{{this.data.glucose.comment}}</p>
                        </details>
                    {{/if}}
                </td>
            {{else if (isnoneed this.data.glucose.status)}}
                <td>Not required</td>
            {{else}}
                <td class = "comment"> 
                    {{this.data.glucose.data}}
                    {{#if this.data.glucose.comment}}
                    <details>
                        <summary>comment:</summary>
                        <p>{{this.data.glucose.comment}}</p>
                    </details>
                     {{/if}}
                </td>
            {{/if}}

            {{#if (isunrecord this.data.weight.status)}}
                <td>Unrecorded</td>
            {{else if (isalert this.data.weight.status)}}
                <td class = "comment" id = 'alert'> 
                    {{this.data.weight.data}}
                    {{#if this.data.weight.comment}}
                    <details>
                        <summary>comment:</summary>
                        <p>{{this.data.weight.comment}}</p>
                    </details>
                     {{/if}}
                </td>
            {{else if (isnoneed this.data.weight.status)}}
                <td>Not required</td>
            {{else}}
                <td class = "comment"> 
                    {{this.data.weight.data}}
                    {{#if this.data.weight.comment}}
                    <details>
                        <summary>comment:</summary>
                        <p> {{this.data.weight.comment}}</p>
                    </details>
                     {{/if}}
                </td>
            {{/if}}


            {{#if (isunrecord this.data.insulin.status)}}
                <td>Unrecorded</td>
            {{else if (isalert this.data.insulin.status)}}
               <td class = "comment" id = 'alert'> 
                    {{this.data.insulin.data}}
                    {{#if this.data.insulin.comment}}
                    <details>
                        <summary>comment:</summary>
                        <p>{{this.data.insulin.comment}}</p>
                    </details>
                     {{/if}}
                </td>
            {{else if (isnoneed this.data.insulin.status)}}
                <td>Not required</td>
            {{else}}
                <td class = "comment" > 
                    {{this.data.insulin.data}}
                    {{#if this.data.insulin.comment}}
                    <details>
                        <summary>comment:</summary>
                        <p> {{this.data.insulin.comment}}</p>
                    </details>
                     {{/if}}
                </td>
            {{/if}}


            {{#if (isunrecord this.data.exercise.status)}}
                <td>Unrecorded</td>
            {{else if (isalert this.data.exercise.status)}}
                <td class = "comment" id = 'alert'> 
                    {{this.data.exercise.data}}
                    {{#if this.data.exercise.comment}}
                        <details>
                            <summary>comment:</summary>
                            <p> {{this.data.exercise.comment}}</p>
                        </details>
                     {{/if}}
                </td>
            {{else if (isnoneed this.data.exercise.status)}}
                <td>Not required</td>
            {{else}}
                <td class = "comment"> 
                    {{this.data.exercise.data}}
                    {{#if this.data.exercise.comment}}
                    <details>
                            <summary>comment:</summary>
                            <p> {{this.data.exercise.comment}}</p>
                    </details>
                     {{/if}}
                </td>
            {{/if}}

        </tr>
    {{/each}}
    </tbody>

    
</table>