
{{> header}}
<div class="grey-top">
    <nav>
        <ul >
            <li><a class="top-anchor">Clinical Notes</a></li>   
            <li><a class="top-anchor active">Display Data</a></li>
            <li><a class="top-anchor">Modify Data</a></li>
            <li><a class="top-anchor">Support Message</a></li>
        </ul>  
    </nav>  
</div> 
<h1>Pat's Data</h1>
<table class="datatable">
    <thead>
        <tr>
            <th>Date</th>
            <th>B.J level</th>
            <th>Weight</th>
            <th>Doses</th>
            <th>Exercise</th>
        </tr>
    </thead>

    <tbody>
    {{#each record}}
        <tr>
            <td> {{this.recordDate}}</td>

            {{#if (isunrecord this.data.glucose.status)}}
                <td>Unrecorded</td>
            {{else if (isalert this.data.glucose.status)}}
                <td id = 'alert'> {{this.data.glucose.data}}</td>
            {{else if (isnoneed this.data.glucose.status)}}
                <td>Not required</td>
            {{else}}
                <td> {{this.data.glucose.data}}</td>
            {{/if}}

            {{#if (isunrecord this.data.weight.status)}}
                <td>Unrecorded</td>
            {{else if (isalert this.data.weight.status)}}
                <td id = 'alert'> {{this.data.weight.data}}</td>
            {{else if (isnoneed this.data.weight.status)}}
                <td>Not required</td>
            {{else}}
                <td> {{this.data.weight.data}}</td>
            {{/if}}


            {{#if (isunrecord this.data.insulin.status)}}
                <td>Unrecorded</td>
            {{else if (isalert this.data.insulin.status)}}
                <td id = 'alert'> {{this.data.insulin.data}}</td>
            {{else if (isnoneed this.data.insulin.status)}}
                <td>Not required</td>
            {{else}}
                <td> {{this.data.insulin.data}}</td>
            {{/if}}


            {{#if (isunrecord this.data.exercise.status)}}
                <td>Unrecorded</td>
            {{else if (isalert this.data.exercise.status)}}
                <td id = 'alert'> {{this.data.exercise.data}}</td>
            {{else if (isnoneed this.data.exercise.status)}}
                <td>Not required</td>
            {{else}}
                <td> {{this.data.exercise.data}}</td>
            {{/if}}

        </tr>
    {{/each}}
    </tbody>

    
</table>
