<link rel="stylesheet" href="/css/clinical_note.css">

{{> header3}}
<div class="grey-top">
    <nav>
        <ul >
            <li><a class="top-anchor active" href="../clinicalNote/{{patient._id}}">Clinical Note</a></li>   
            <li><a class="top-anchor" href="../table/{{patient._id}}">Display Data</a></li>
            <li><a class="top-anchor" href="../manage_patient/{{patient._id}}">Modify data</a></li>
            <li><a class="top-anchor" href="../supportMSG/{{patient._id}}">Support message</a></li>
        </ul>  
    </nav>  
</div>

<button type="button" onclick="location.href = '/doctor/profiles/{{patient._id}}'">Back</button>
<button type="button" onclick="location.href = '/doctor/newNote/{{patient._id}}'">New note</button>

<div class="container">
    {{#each note}} 
        <div class="text">
            <p class="date">Note on {{this.create_date}}</p>
            <p>{{this.message}}</p>
        </div>
    {{/each}}
</div>