<div class="container-block container-flexbox">

    <form method="post" action="/search">
        <input type="search" size="10" name="patName" placeholder="start typing" pattern="[A-Za-z]*" title="letters only" autofocus>
        <input type="submit" value="Search">
    </form>

    <div class="pat_info">

        {{#each pats}}
        <div class="pats_col">
           <a href="/pats/{{this._id}}"><img class="browsePage" src="{{this.photo}}"></a>
           <a href="/pats/{{this._id}}">{{this.name}}</a> 
        </div>
        
        <table class="pats_col">
                {{#if this.bgl.required}}<tr><td>Blood glucose level:</td>{{#ifRecorded}}<td>{{this.bgl}}</td></tr>
                {{#if this.weight.required}}<tr><td>Weight:</td>{{#ifRecorded}}<td>{{this.weight}}</td></tr>
                {{#if this.DIT.required}}<tr><td>Doses of insulin taken:</td>{{#ifRecorded}}<td>{{this.DIT}}</td></tr>
                {{#if this.exercise.required}}<tr><td>Exercise:</td>{{#ifRecorded}}<td>{{this.exercise}}</td></tr>
        </table>
        {{/each}}
        
    </div>
</div>