

<form action="/edit" method="POST">

    <div class = "basic">
        <h2> Basic information</h2>
        <section id = "user">
            <label>User name</label>
            <input class="input"  type="text" name="username"  pattern="[A-Za-z0-9\-_\.]{4,20}" placeholder="your new username" value="{{input.username}}">
        </section>
         <P class="des">* Username must have 4-20 numbers or letters and no special chars</P>

        <section class = 'one_line'>
        <label>Year of Birth</label>
        <input class="input"  type="number" name="yob" pattern="d{4}" placeholder="YYYY" value="{{input.yob}}">
        </section>
    </div>



    <div class = "contact">
        <h2> Contact information</h2>
        <section class = 'one_line'>
            <label>Email</label>
            <input class="input"  type="email" name="email" placeholder="XXX@XX" value="{{input.email}}">
        </section>

        <section>
            <label>Home Address</label>
            <input class="input"  type="text" name="address" pattern="[A-Za-z0-9'\.\-\s\,]" placeholder="your new home address" value="{{input.address}}">
        </section>

        <section>
            <label>Phone number</label>
            <input class="input"  type="text" name="phone" pattern="[0-9'\-\+]+" placeholder="your new phone number" value="{{input.phone}}">
        </section>
    </div>

    <div class = "password">
        <h2> Security</h2>
        <section class = 'one_line' id="pw">
            <label>Password</label>
            <input class="input"  type="text" name="password" patter="[A-Za-z0-9\-_\.]{8,20}" placeholder="your new password" value="{{input.password}}">
        </section>
        <P class="des">* Password must have 8-20 numbers or letters and no special chars</P>
    </div>

    <div class="submit"> 
        <button type="submit">Submit</button>
        <button type="button" class="btn-login log-bg" onclick="location.href = './p_profile'">Cancel</button>
        <button type="reset"> Reset </button>
    </div>

</form>

{{#if editSuccess}}
<script>
  window.onload=function() {
    setTimeout(() => {
      alert("Update Successfully!");
      window.location.href = window.location.origin + window.location.pathname
    }, 500) 
  }
</script>
{{/if}}
{{#if editFailure}}
  <script>
    window.onload=function() {
      setTimeout(() => {
        alert("Fail to update.");
        window.location.href = window.location.origin + window.location.pathname
      }, 500) 
    }
  </script>
{{/if}}
{{#if usernameExists}}
  <script>
    window.onload=function() {
      setTimeout(() => {
        alert("The username already exists, please enter another user name.");
        window.location.href = window.location.origin + window.location.pathname
      }, 500) 
    }
  </script>
{{/if}}