{{>header3}}

<body>
<div class="wrap">
    <div class="note">
        <p>click left hand side to read comments</p>
    </div>
</div>

	<div id="tabsDiv">
    {{#each record}}
    <div id={{this.name}} class="contentClass">
      <div class="grey-top">
        <h1>patient name: {{this.name}}</h1>
        <p>click to check patient detail</p>
            <ul >
                <li><a class="top-anchor" href="./profiles/{{this._id}}">Profile</a></li>
                <li><a class="top-anchor" href="./clinicalNote/{{this._id}}">Clinical Note</a></li>   
                <li><a class="top-anchor" href="./table/{{this._id}}">Display Data</a></li>
                <li><a class="top-anchor" href="./manage_patient/{{this._id}}">Modify data</a></li>
                <li><a class="top-anchor " href="./supportMSG/{{this._id}}">Support message</a></li>
            </ul>  
          
    </div>
    {{#each this.comments}}
        date:{{this.date}}
        {{#if this.glucoseComment}}
        <p>glucose:{{this.glucoseComment}}</p>
            {{/if}}
            {{#if this.weightComment}}
            <p>weight:{{this.weightComment}}</p>
            {{/if}}
            {{#if this.exerciseComment}}
            <p>exercise:{{this.exerciseComment}}</p>
            {{/if}}
            {{#if this.insulinComment}}
            <p>insulin:{{this.insulinComment}}</p>
            {{/if}}
         <hr/>
     {{/each}}          
    </div>
    {{/each}}
  </div>

	

		<ul class="ulClass" style="height:300px">
      {{#each record}}

        
        <button class="linkClass" onclick=
					"displayContent(event, '{{this.name}}')">
        <p>{{this.date}}</p>
        <p>patient {{this.name}}</p>
        {{! #if }}
        <p>new comment on 
            {{#if this.glucoseComment}}
            <a>glucose</a>
            {{/if}}
            {{#if this.weightComment}}
            <a>weight</a>
            {{/if}}
            {{#if this.exerciseComment}}
            <a>exercise</a>
            {{/if}}
            {{#if this.insulinComment}}
            <a>insulin</a>
            {{/if}}
        </p>
        </button>
        

      {{/each}}
		</ul>
	</div>






<script src="/js/inbox.js"></script>



   