<body>
<div class="wrap">
    <div class="note">
        <li><img src="/icon/red-circle.svg"><p class="legend-item">unread(click checkbox to mark it read)</p></li>
    </div>
</div>

	<div id="tabsDiv">
    {{#each record}}
    <div id={{this.name}} class="contentClass">
    {{#each this.comments}}
        {{#if this.glucoseComment}}
        <p>glucose:{{this.glucoseComment}}</p>
            {{/if}}
            {{#if this.weightComment}}
            <p>weight:{{this.weightComment}}</p>
            {{/if}}
            {{#if this.exerciseComment}}
            <p>exercise:{{this.exerciseComment}}</p>
            {{/if}}
            {{#if this.insulinComment}}
            <p>insulin:{{this.insulinComment}}</p>
            {{/if}}
     {{/each}}          
    </div>
    {{/each}}
  </div>

	

		<ul class="ulClass" style="height:300px">
      <li style="list-style-type:none;">
        {{#each record}}
        <button class="linkClass" onclick=
					"displayContent(event, '{{this.name}}')">
        <p>{{this.date}}</p>
        <p>patient {{this.name}}</p>
        {{! #if }}
        <p>new comment on 
            {{#if this.glucoseComment}}
            <a>glucose</a>
            {{/if}}
            {{#if this.weightComment}}
            <a>weight</a>
            {{/if}}
            {{#if this.exerciseComment}}
            <a>exercise</a>
            {{/if}}
            {{#if this.insulinComment}}
            <a>insulin</a>
            {{/if}}
        </p>
        </button>
        {{/each}}
      </li>
		</ul>
	</div>






<script src="/js/inbox.js"></script>



   