
{{> patient_header}}

<div class="insertBox">
  <div class="content">
    <div class="left">
      <img width="100%" src="/picture/data.jpeg" />
    </div>
    <div class="right">
      <form id="insertForm" action="">
        <div class="form-group {{state.glucose}}">
          <div class="inner">
            <label for="glucose">
              Blood glucose level
            </label>
            <input name="glucose" pattern="[\d]+" id="glucose" value="{{record.glucose.data}}" type="text" />
            nom/L 
                  {{#if record.glucose.data}}
                      (uploaded!You can modify again!)
                  {{else}}
                      <font color="red">(please enter data!)</font>
                  {{/if}}
          
            <p>
              Add new comment to the box
            </p>
            <input
              id="glucoseComment"
              class="comment"
              type="text"
              value="{{record.glucose.comment}}"
              placeholder="Add your comment here"
            />
          </div>
        </div>

        <div class="form-group {{state.weight}}">
          <div class="inner">
            <label for="weight">
              Weight
            </label>
            <input name="weight" pattern="[\d]+" id="weight" value="{{record.weight.data}}" type="text" />
            Kg {{#if record.weight.data}}
                  (uploaded!You can modify again!)
                {{else}}
                  <font color="red">(please enter data!)</font>
                {{/if}}
            <p>
              Add new comment to the box
            </p>
            <input
              id="weightComment"
              class="comment"
              type="text"
              value="{{record.weight.comment}}"
              placeholder="Add your comment here"
            />
          </div>
        </div>

        <div class="form-group {{state.insulin}}">
            <div class="inner">
            <label for="insulin">
              Doses of insulin taken
            </label>
            <input name="insulin" pattern="[\d]+"  id="insulin" value="{{record.insulin.data}}" type="text" />
            Doses {{#if record.insulin.data}}
                    (uploaded!You can modify again!)
                  {{else}}
                    <font color="red">(please enter data!)</font>
                  {{/if}}
            <p>
              Add new comment to the box
            </p>
            <input
              id="insulinComment"
              class="comment"
              type="text"
              value="{{record.insulin.comment}}"
              placeholder="Add your comment here"
            />
          </div>
        </div>

        <div class="form-group {{state.exercise}}">
          <div class="inner">
            <label for="exercise">
              Exercise  
            </label>
            <input name="exercise" pattern="[\d]+" id="exercise" value="{{record.exercise.data}}" type="text" />
            Step count{{#if record.exercise.data}}
                  (uploaded!You can modify again!)
                {{else}}
                  <font color="red">(please enter data!)</font>
                {{/if}}
            <p>
              Add new comment to the box
            </p>
            <input
              id="exerciseComment"
              class="comment"
              type="text"
              value="{{record.exercise.comment}}"
              placeholder="Add your comment here"
            />
          </div>
        </div>

        <div class="form-groups mt-3">
          <button class="submit">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.26.1/axios.min.js"></script>
<script>
  const userID= "{{userID}}"
</script>
<script src="/js/insert.js"></script>
