<body>
  <div class="leader">
    <div class="box">
      <div class="left">
        <div class="title">
          <p>
            Your engagement rate currently is {{thisRate}}%
          </p>
          <p>
            Your rank is No.{{thisRank}} out of {{userCount}} users
          </p>
          <p>
            You have won this week's medal! keep going!
          </p>
        </div>
        <div class="content">
          <table>
            <thead>
              <tr>
                <th>
                  Rank
                </th>
                <th>
                  Name
                </th>
                <th>
                  Engagement rate
                </th>
              </tr>
            </thead>
            <tbody>
              {{#each list}}
              {{#with this}}
              <tr>
                <td>{{ranke}}</td>
                <td>{{username}}</td>
                <td>{{rate}}%</td>
              </tr>
              {{/with}}
              {{/each}}
            </tbody>
          </table>
        </div>
      </div>
      <div class="right">
        <img src="/picture/istockphoto-1282822649-170667a.jpeg" alt="">
      </div>
    </div>
  </div>
</body>