<link rel="stylesheet" href="/css/message.css">

{{> header3}}
<div class="grey-top">
    <nav>
        <ul >
            <li><a class="top-anchor active" href="../clinicalNote/{{patient._id}}">Clinical Note</a></li>   
            <li><a class="top-anchor" href="../table/{{patient._id}}">Display Data</a></li>
            <li><a class="top-anchor" href="../manage_patient/{{patient._id}}">Modify data</a></li>
            <li><a class="top-anchor" href="../supportMSG/{{patient._id}}">Support message</a></li>
            <li><a class="top-anchor" href="../inbox">Inbox</a></li>
        </ul>  
    </nav>  
</div>
<body style="background-color: #F2B705">
<div class="return">
    <nav>
        <a  href="../profiles/{{patient._id}}">profile</a>  
    </nav>
</div>
        <form class="message" action="/doctor/supportMSG/{{patient._id}}" method="post">
            <h1>Current Message</h1>
        
            <textarea type="text" class="input" id="currmsg" name="supportMSG" placeholder="(modify it or choose recommended message below)" value="{{input.supportMSG}}"></textarea>

            <br/>

            <h1>Recommended Message</h1>
            <ul id="choose" class="choose" name="recomsg" >
                <p>Diabetes is like a roller coaster. It has its ups and downs, but it's your choice to scream or enjoy the ride.</p>
                <p>Losing weight is not about the pounds and inches. It is about being what you have always wanted to be.</p>
                <p>Each day brings new healing.</p>
                <p>Here's to you—steadier, stronger and better every day.</p>
                <p>The hard days are what make you stronger.</p>
                <p>Start where you are. Use what you have. Do what you can.</p>
                <p>We'll get through this together, knowing there are brighter days ahead.</p>
            </ul>
            <button type="submit" class="btn-login log-bg">Submit</button>
            <button type="button" class="btn-login log-bg" onclick="location.href = '/doctor/profiles/{{patient._id}}'">Back</button>
        </form>

</body>

{{#if supportSuccess}}
<script>
  window.onload=function() {
    setTimeout(() => {
      alert("Support message update Successfully!");
      window.location.href = window.location.origin + window.location.pathname
    }, 500) 
  }
</script>
{{/if}}
{{#if supportFailure}}
  <script>
    window.onload=function() {
      setTimeout(() => {
        alert("Fail to update support message");
        window.location.href = window.location.origin + window.location.pathname
      }, 500) 
    }
  </script>
{{/if}}
{{>footer}}