
{{> header2}}

<div class = "basic">
    <h2> Basic information</h2>
    <ul>
        <li class="info">
            <p>Given name</p>
            <p>{{patient.name}}</p>
        </li>

        <li class="info">
            <p>Family name</p>
            <p>{{patient.familyName}}</p>
        </li>

        <li class="info">
            <p>User name</p>
            <p>{{patient.username}}</p>
        </li>

        <li class="info">
            <p>Text bio</p>
            <p>{{patient.textBio}}</p>
        </li>

        <li class="info">
            <p>Year of Birth</p>
            <p>{{patient.yob}}</p>
        </li>
    </ul>
    
</div>


<div class = "contact">
    <h2> Contact information</h2>
    <ul>
        <li class="info">
            <p>Email</p>
            <p>{{patient.email}}</p>
        </li>

        <li class="info">
            <p>Home Address</p>
            <p>{{patient.address}}</p>
        </li class="info">

        <li class="info">
            <p>Phone number</p>
            <p>{{patient.phone}}</p>
        </li>
    </ul>
</div>


<div class="edit"> 
    <a href="/edit">
        <p>Edit your info and password</p>
    </a>
</div>