

<link rel="stylesheet" href="/css/login.css">

<body style="background-color: #2D3033;">

  <h1 style="color: white;">Diabetes@HOME</h1>

  <div class="login" >
    <form class="login-form" id="register" action="/doctor/register" method="post">
        <label class="pat-text-color">Name</label>
        <input class="input" type="text" name="name" placeholder="Enter name" value="{{input.name}}" required>

        <label class="pat-text-color">Username</label>
        <input class="input" type="text" name="username" placeholder="Enter username" value="{{input.username}}" required>

        <label class="pat-text-color">Password</label>
        <input class="input" type="password" name="password" placeholder="Enter password" value="{{input.password}}" required>

        <label class="pat-text-color">Year of Birth</label>
        <input class="input" type="number" min="1900" max="2022" name="yob" placeholder="Enter year of birth" value="{{input.yob}}" required>
        
        <label class="pat-text-color">Email</label>
        <input class="input" type="email" name="email" placeholder="Enter email" value="{{input.email}}" required>
        
        <label class="pat-text-color">Address</label>
        <input class="input" type="text" name="address" placeholder="Enter address" value="{{input.address}}" required>
        
        <label class="pat-text-color">Phone</label>
        <input class="input" type="text" name="phone" placeholder="Enter phone" value="{{input.phone}}" required>

        <div class="checkbox">
            <input type="checkbox" >
            <label class="pat-text-color" >I agree to the Terms and Policy</label>
        </div>

        <button type="submit" class="btn-login log-bg" style="margin-bottom: 1.5em">Register</button>
        <button type="button" class="btn-login log-bg" onclick="location.href = './dashboard'">Cancel</button>
      </form>
  </div>

</body>


{{#if registerSuccess}}
<script>
  window.onload=function() {
    setTimeout(() => {
      alert("Register Successfully!");
      window.location.href = window.location.origin + window.location.pathname
    }, 500) 
  }
</script>
{{/if}}
{{#if registerFailure}}
  <script>
    window.onload=function() {
      setTimeout(() => {
        alert("Fail to register.");
        window.location.href = window.location.origin + window.location.pathname
      }, 500) 
    }
  </script>
{{/if}}
{{#if registerUsernameExists}}
  <script>
    window.onload=function() {
      setTimeout(() => {
        alert("The username already exists, please enter another user name.");
        window.location.href = window.location.origin + window.location.pathname
      }, 500) 
    }
  </script>
{{/if}}